body{
    font-family: fantasy;
    height: 1500px;
}
.container{
    font-family: Arial, sans-serif;
    background-color: rgb(228, 233, 217);
    display: flex;
    justify-content: space-between;
    
}
.box h2{
    color: black;
}
.box{
    display: flex;
    justify-content: space-between;
}
.box img{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    animation-name: box1;
    animation-duration: 5s;
    animation-iteration-count: 2;
}
.box h1{
    color: darkolivegreen;
    font-family: Arial, sans-serif;
}
.main{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
@keyframes box1{
    from{
transform: translateX(0px);
    }
    to{
transform: translateX(600px);
    }
}
@keyframes box1{
    0%{
        transform: translateX(0px) translateY(0px);
    }
    25%{
        transform: translateX(50px) translateY(0px);
    }
    50%{
        transform: translateX(50px) translateY(50px);
    }
    75%{
        transform: translateX(0px) translateY(50px);
    }
    100%{
        transform: translateX(0px) translateY(0px);
    }
}
.footer{
    background-color: black;
    height: 250px;
}
.footer1{
    margin: 0px auto;
    text-align: center;
    color: white;
}